
<style>
  .login-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .btn-warning {
    width: 100%;
  }
</style>



<div class="login-container">
  <h2>Login</h2>
  <form action="/user/login" method="POST">
    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" class="form-control" id="password" name="password" minlength="6" required>
    </div>
   
    <button type="submit" class="btn btn-warning">Login</button>
    <div class="text-center mt-3">
      <p>Don't have an account? <a href="/user/signup">Signup here</a></p>
  </div>
  </form>
</div>


<%- contentFor("login")%>
