<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form 
                action="/admin/categories/update/<%= category._id %>" 
                method="post" 
                enctype="multipart/form-data" 
                
            >
                <!-- Category Name -->
                <div class="mb-3">
                    <label for="name" class="form-label">Category Name</label>
                    <input 
                        type="text" 
                        name="name" 
                        class="form-control" 
                        id="name" 
                        placeholder="Enter category name" 
                        value="<%= category.name %>" 
                    />
                </div>

                <!-- Existing Image Display -->
                <div class="mb-3">
                    <% if (category.image) { %>
                        <label class="form-label">Current Image</label>
                        <img 
                            src="<%= category.image %>" 
                            alt="Category Image" 
                            width="100" 
                            class="d-block mb-2"
                        />
                    <% } %>
                </div>

                <!-- New Image Upload -->
                <div class="mb-3">
                    <label for="image" class="form-label">Update Category Image</label>
                    <input 
                        type="file" 
                        name="image" 
                        class="form-control" 
                        id="image" 
                    />
                </div>

                <div class="d-flex flex-column justify-content-center align-items-center gap-3">
                    <button type="submit" class="btn btn-dark w-100">Update Category</button>

                    <button class="btn btn-danger btn-lg" type="button" onclick="window.location.href='/admin/categories/read';">Back</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- contentFor("editcategory") %>
