<nav class="navbar navbar-expand-sm bg-white sticky-top d-flex flex-wrap">
  <div class="container-fluid d-flex justify-content-between align-items-center my-1">

    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item">
        <a class="nav-link fw-bold fs-6 text-dark" href="https://www.hushpuppies.com.pk/collections/aw-2024">
          <small>New Arrivals</small>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold fs-6 text-dark" href="https://www.hushpuppies.com.pk/pages/men">
          <small>Men</small>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold fs-6 text-dark" href="https://www.hushpuppies.com.pk/pages/women">
          <small>Women</small>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold fs-6 text-dark" href="https://www.hushpuppies.com.pk/pages/kids">
          <small>Kids</small>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold fs-6 text-dark" href="https://www.hushpuppies.com.pk/pages/accessories">
          <small>Accessories</small>
        </a>
      </li>
    </ul>

    <div class="logo " >
      <a href="https://www.hushpuppies.com.pk/">
        <img src="\images\logo.webp" alt="Hushpuppies" style="max-height: 50px;">
      </a>
    </div>

    <div class="d-flex align-items-center">
      <button class="btn btn-warning me-2" type="button" onclick="window.location.href='/user/logout';">Logout</button>
      <button id="loginBtn" class="btn btn-warning me-2"  onclick="window.location.href='/user/signup';" >Signup</button>
      <button id="logoutBtn" class="btn btn-warning me-3"  onclick="window.location.href='/user/login';">Login</button>

      <div class="icons">
        <i class="fa-solid fa-magnifying-glass ms-2"></i>
        <i class="fa-regular fa-face-grin ms-2"></i>
        <i class="fa-regular fa-heart ms-2"></i>
        <i class="fa-solid fa-bag-shopping ms-2"></i>
      </div>
    </div>

  </div>
</nav>
