<footer>
<div>

  
  <div>
    <span class=" sent d-flex flex-wrap justify-content-center  align-items-center pt-5 pb-3 fs-10">RECIEVE EXCLUSIVE PROMOTIONS, PRIVATE SALES AND NEWS</span>
    <div class=" container d-flex justify-content-center align-items-center mt-3">
      <form class=" f1">
        <div class="mb-3">
          <input type="email" class=" border-0 border-bottom border-1 border-dark w-100 text-light fs-10" id="email" placeholder="Email Address" name="email">
        </div>
        <button type="submit" class="btn  btn-dark w-100 rounded-0">Submit</button>
      </form>
    </div>
  
  </div>
  
  <div  class=" footer container-fluid mt-5 mb-5  ">
    <ul class=" list d-flex flex-wrap justify-content-center align-items-center pe-5 list-unstyled gap-4">
      <li>My Account</li>
      <li>Customer Services</li>
      <li>Returns & Exchanges</li>
      <li>Bulk Orders</li>
      <li>About Us</li>
      <li>Blogs</li>
      <li><img  src=".//images/giftkarte.webp" alt="giftkarte"></li>
    </ul>
  
  </div>
   <div class="icons gap-4 d-flex justify-content-center align-items-center  ">
    <i class="fa-brands fa-facebook" ></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-youtube"></i>
    <i class="fa-brands fa-tiktok"></i>
  
  
   </div>
   
   <br>
   <div class=" copyright d-flex flex-column  justify-content-center align-items-center  mt-5">
    <p >Copyright © 2023 Hush Puppies all rights reserved.</p>
      <p >Tech by Ozeefy</p>
   </div>
   
</footer>
