<nav class="navbar navbar-expand-sm bg-white sticky-top d-flex flex-wrap ">

<div class=" head container-fluid d-flex flex-wrap justify-content-between my-1">
  <ul class=" header navbar-nav">
    <li class="nav-item">
      <a class="nav-link fw-bold fs-6 text-dark"  href="https://www.hushpuppies.com.pk/collections/aw-2024"><small>New Arrivals</small></a>
    </li>
    <li class="nav-item">
      <a class="nav-link fw-bold fs-6 text-dark " href="https://www.hushpuppies.com.pk/pages/men"><small>Men</small></a>
    </li>
    <li class="nav-item ">
      <a class="nav-link fw-bold fs-6 text-dark" href="https://www.hushpuppies.com.pk/pages/women"><small>Women</small></a>
    </li>
    <li class="nav-item">
      <a class="nav-link fw-bold fs-6 text-dark" href="https://www.hushpuppies.com.pk/pages/kids"><small>Kids</small></a>
    </li>
    <li class="nav-item">
      <a class="nav-link fw-bold fs-6 text-dark" href="https://www.hushpuppies.com.pk/pages/accessories"><small>Accessories</small></a>
    </li>
   
  </ul>
  <div class="logo">
     <a href="https://www.hushpuppies.com.pk/"> <img src="\images\logo.webp" alt="Hushpuppies" ></a> 
  </div>
  <div class="icons">
    <i class="fa-solid fa-magnifying-glass ms-3"></i>
    <i class="fa-regular fa-face-grin ms-3"></i>
    <i class="fa-regular fa-heart ms-3"></i>
    <i class="fa-solid fa-bag-shopping ms-3"></i>
  </div>
</div>
</nav>